
@charset "utf-8";
/* CSS Document */

body {
	background-color:#788c9e;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:24px;
	color:#2d394b;
	text-align:left;
}

p {
	margin:0;
	padding:0;
	font-family:Calibri,Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#d4d7dd;
	text-align:left;
}

a {
	text-decoration:none;
	color:#6b6b6b;
	font-size:14px;
}

a:hover {
	color:#e8e9e9;
}

#video {
    display:block;
    position:absolute;
    top:645px;
    left:46px;
    z-index:2;
}

#beauty_slider{
	margin-left: auto;
	margin-right: auto;
}

#beauty_slider_container{
    position: relative;
    top: 144px;
}

#beauty_slider_prev{
	background-image: url("map_prev.png");
	position: absolute;
	left: 40px;
	top: 240px;
	height: 40px;
	width: 28px;
	z-index: 1002;
}

#beauty_slider_next{
	background-image: url("map_next.png");
	position: absolute;
	right: 40px;
	top: 240px;
	height: 40px;
	width: 28px;
	z-index: 1002;
}

.controls:hover
{
	cursor: pointer;
}




#bg_01 {
	background-image:url("bg_01.jpg");
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url("bg_01.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:804px;
}

#bg_02 {
	background-image:url("bg_02.jpg");
	background-position:top center;
	background-repeat:no-repeat;
}

#container_02 {
	background-image:url("bg_02.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:868px;
}

#bg_03 {
	background-image:url("bg_03.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url("bg_03.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
    height:312px;
}

#bg_04 {
	background-image:url("bg_04.jpg");
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url("bg_04.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:882px;
}

#bg_05 {
	background-image:url("bg_05.jpg");
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url("bg_05.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:605px;
}

#bg_06 {
	background-image:url("bg_06.jpg");
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url("bg_06.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:883px;
}

#bg_07 {
    background-image:url("bg_07.jpg");
    background-position:top center;
    background-repeat:no-repeat;
}

#container_07 {
    background-image:url("bg_07.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:612px;
}

#bg_08 {
    background-image:url("bg_08.jpg");
    background-position:top center;
    background-repeat:no-repeat;
}

#container_08 {
    background-image:url("bg_08.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:829px;
}

#bg_09 {
    background-image:url("bg_09.jpg");
    background-position:top center;
    background-repeat:no-repeat;
}

#container_09 {
    background-image:url("bg_09.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:979px;
}

#bg_10 {
    background-image:url("bg_10.jpg");
    background-position:top center;
    background-repeat:no-repeat;
}

#container_10 {
    background-image:url("bg_10.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:621px;
}

#bg_11 {
    background-image:url("bg_11.jpg");
    background-position:top center;
    background-repeat:no-repeat;
}

#container_11 {
    background-image:url("bg_11.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:918px;
}

#bg_12 {
    background-image:url("bg_12.jpg");
    background-position:top center;
    background-repeat:no-repeat;
}

#container_12 {
    background-image:url("bg_12.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:952px;
}

#bg_13{
    background-image:url("bg_13.jpg");
    background-position:top center;
    background-repeat:no-repeat;
}

#container_13 {
    background-image:url("bg_13.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:1031px;
}


/* before and after */

#before_after_04_01 {
    position:relative;
    width:892px;
    left:46px;
    top:272px;
}

#before_after_05_01 {
    position:relative;
    width:892px;
    left:46px;
    top:4px;
}

#before_after_06_01 {
    position:relative;
    width:892px;
    left:46px;
    top:282px;
}

#before_after_07_01 {
    position:relative;
    width:892px;
    left:46px;
    top:8px;
}

#before_after_08_01 {
    position:relative;
    width:892px;
    left:46px;
    top:222px;
}

#before_after_09_01 {
    position:relative;
    width:892px;
    left:46px;
    top:376px;
}

#before_after_10_01 {
    position:relative;
    width:892px;
    left:46px;
    top:6px;
}

#before_after_12_01 {
    position:relative;
    width:290px;
	height:181px;
    left:43px;
    top:26px;
}

#before_after_12_02 {
    position:absolute;
    width:290px;
    left:342px;
    top:26px;
}

#before_after_12_03 {
    position:absolute;
    width:290px;
    left:642px;
    top:26px;
}

/* top */


#copy_02_01 {
	position:absolute;
	width:600px;
	left:186px;
	top:148px;
}


#copy_03_01 {
    position:absolute;
	width:600px;
	left:186px;
	top:4px;
}

/* bombsite A */

#copy_04_01 {
    position:absolute;
	width:600px;
	left:186px;
	top:93px;
}


#copy_05_01 {
	position:absolute;
	width:600px;
	left:186px;
	top:148px;
}

/* bombsite B */

#copy_06_01 {
	position:absolute;
	width:600px;
	left:186px;
	top:106px;
}


#copy_08_01 {
    position:absolute;
	width:600px;
	left:186px;
	top:92px;
}


#copy_09_01 {
    position:absolute;
	width:600px;
	left:186px;
	top:96px;
}

#copy_11_01 {
    position:absolute;
	width:600px;
	left:186px;
	top:88px;
}

#copy_12_01 {
    position:absolute;
	width:600px;
	left:186px;
	top:374px;
}




#logoLink {
	display:block;
	position:absolute;
	top:20px;
	left:345px;
	width:270px;
	height:70px;
}


#posterLink {
	display:block;
	position:relative;
	line-height: 16px;
	top:290px;
	left:242px;
	width:440px;
	height:190px;
	background-image:url("nuke_poster_link.png");
	background-position:top;
	z-index:2;
}
#posterLink:hover {
	background-position:bottom;
}



#valveLinks {
	display:block;
	position:absolute;
	width:748px;
	height:100px;
	top:90px;
	left:116px;
}

.button:hover {
	background-position:bottom;
}





